<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'community' %}">커뮤니티</a>
    <a href="{% url 'mypage' %}">마이페이지</a>
    <hr />

    <br />
    <h2>어디로 안전한 여행을 떠나볼까요?</h2>
    <form action="{% url 'search_results' %}" method="get">
      <label for="destination"></label>
      {{ form.destination }}
      <br />
      <label for="travel_date"></label>
      {{ form.travel_date }} - {{ form.travel_date2 }}
      <br />
      <label for="people"></label>
      {{ form.people }}
      <label for="safety_filter"></label>
      <div class="checkbox-group">
        {% for filter in safety_filters %}
        <label>
          <input type="checkbox" name="safety_filter" value="{{ filter.id }}" />
          {{ filter.name }}
        </label>
        <br />
        {% endfor %}
      </div>
      <br />
      <button type="submit">검색</button>
    </form>
    <br />
    <hr />
    <br />
    <h2>안전도 평가가 좋은 숙소 리스트</h2>
    가상 숙소
    <br />
    <br />
    <h2>안전한 여행할 때, 꼭 알고 가야 할 것은?</h2>
    이미지/글
    <br />
    <br />
    <br />
    <h2>커뮤니티 인기 숙소</h2>
    가상 숙소
  </body>
</html>
