<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'community' %}">커뮤니티</a>
    <a href="{% url 'mypage' %}">마이페이지</a>
    <h2>{{ accommodation.name }}</h2>
    <p>{{ accommodation.location }}</p>
    <p>{{ accommodation.review_score }}</p>
    <p>{{ accommodation.price }}원</p>
    <p>
      {% for filter in accommodation.safety_filters.all %} {{ filter.name }} |
      {% endfor %}
    </p>
    <br />
    <br />
    <hr />
    <h3>실제 이용객들의 평가 후기</h3>
    후기글
    <br />
    <br />
    <h3>숙소 안전 정보</h3>
    정보
  </body>
</html>
